.border_radius{
  border-radius: 0px !important;
}

.main {
  width: 50%;
  margin: 50px auto;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 0px !important;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.Input_button_emp{
  width: 49% !important;
}
@media only screen and (max-width: 365px) {

  .Input_button_emp{
    width: 100% !important;
  }
}
@media only screen and (max-width: 992px) {

  .Input_button_emp{
    width: 101% !important;
  }
 
}
.Table_header{
  background-color: #E2E8F7;
}
.List_card{
  border-radius: 0px !important;
  border-color: #a9bced !important;
}
.status_active{
  background-color: #d9f1d9;
  border-radius: 15px !important;
  color: #3bc93b !important;
}
.status_delete{
  background-color: #f1d9d9;
  border-radius: 15px !important;
  color: #c93b3b !important;
}

/* ----------------------------------------------------------welcome -page------------------------------------- */


.About_image_col{
  width: 100%;
  height: 600px;
}
.About_Image_div{
  background-color: #E7EEFB;
}

.About_image{
  width: 90%;
  height: 130%;
  align-content: center;
  margin-left: 35px;
  margin-top: -60px;
}
.list_item{
  margin-top: 66px;
  align-items: center;
}
.List_ul{
  list-style: none;
}

@media (min-width: 1100px) { 
  .About_image_col{
    height: 600px !important;
  }
}
@media (max-width: 568px) { 
  .About_image_col{
    height: 830px !important;
  }
  .About_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
}

@media (min-width: 768px) { 
  .Footer_Conteiner{
    margin-top: 20px !important;
  }
  .Wel_img{
    width: 100%;
    object-fit: cover;
  }
  .main_card{
    margin-top: 10px;
  }
  .Footer_Conteiner{
    margin-top: 20px !important;
  }
  .About_image_col{
    width: 100%;
    height: 820px !important;
  }
}

